.tips-content {
  margin-bottom: 20px; }
  .tips-content .tips-title {
    margin-bottom: 10px; }
  .tips-content .blue-warning {
    float: left;
    margin-right: 10px; }
  .tips-content .tips-list li {
    margin-left: 26px;
    margin-bottom: 10px;
    list-style-type: decimal; }
