.details-cont {
  position: relative;
  padding: 15px;
  background-color: #fff;
  min-height: 700px; }
  .details-cont .page-header {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #ddd; }
  .details-cont .loading {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    height: 400px;
    line-height: 380px; }
    .details-cont .loading img {
      width: 24px;
      margin-right: 20px;
      vertical-align: middle; }
  .details-cont .big-rang {
    box-sizing: content-box;
    padding: 25px;
    cursor: pointer; }
  .details-cont .table tr.checked {
    background-color: #f3f9ff; }
  .details-cont .tab-wraped {
    width: 100%;
    height: 50px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    margin-bottom: 20px; }
    .details-cont .tab-wraped .nav-items {
      display: inline-block;
      height: 50px; }
      .details-cont .tab-wraped .nav-items li {
        position: relative;
        float: left;
        width: 150px;
        height: 48px;
        line-height: 50px;
        border-right: 1px solid #ddd;
        text-align: center;
        cursor: pointer;
        background-color: #f5f5f5;
        transition: all 0.2s ease-in-out;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out; }
        .details-cont .tab-wraped .nav-items li:hover {
          background-color: #fff;
          transition: all 0.2s ease-in-out;
          -webkit-transition: all 0.2s ease-in-out;
          -moz-transition: all 0.2s ease-in-out;
          -ms-transition: all 0.2s ease-in-out; }
        .details-cont .tab-wraped .nav-items li.active {
          background-color: #fff; }
          .details-cont .tab-wraped .nav-items li.active:after {
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            top: -1px;
            left: 0;
            background-color: #22a4ff; }
    .details-cont .tab-wraped .design {
      float: right;
      margin-top: 8px;
      margin-right: 15px; }
  .details-cont .pagination {
    user-select: none; }
    .details-cont .pagination.center {
      text-align: center; }
    .details-cont .pagination.right {
      text-align: right; }
    .details-cont .pagination .pages {
      display: inline-block;
      vertical-align: top; }
      .details-cont .pagination .pages li {
        height: 24px;
        width: 24px;
        line-height: 24px;
        padding: 0;
        text-align: center; }
    .details-cont .pagination .prev-page,
    .details-cont .pagination .next-page {
      display: inline-block;
      padding: 1px 7px;
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 3px;
      vertical-align: top; }
      .details-cont .pagination .prev-page:hover,
      .details-cont .pagination .next-page:hover {
        cursor: pointer;
        background-color: #f5f5f5; }
      .details-cont .pagination .prev-page.disable,
      .details-cont .pagination .next-page.disable {
        opacity: 0.5;
        cursor: not-allowed; }
        .details-cont .pagination .prev-page.disable:hover,
        .details-cont .pagination .next-page.disable:hover {
          background-color: #fff; }
  .details-cont .search {
    display: inline-block;
    vertical-align: middle; }
    .details-cont .search .search-text {
      float: left;
      border-right: 0;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s; }
      .details-cont .search .search-text.active {
        width: 350px;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s; }
    .details-cont .search .search-btn {
      float: left;
      vertical-align: top;
      border-radius: 0; }
