.publish-main-cont {
  position: relative;
  min-height: 600px;
  background-color: #fff;
  padding: 16px;
  padding-bottom: 60px; }
  .publish-main-cont .page-header {
    width: 100%;
    margin: 0;
    margin-bottom: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    border-bottom: 1px solid #ddd; }
  .publish-main-cont .pop-mask-enter-active,
  .publish-main-cont .pop-mask-leave-active {
    transition: opacity 0.2s ease-in-out;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    -ms-transition: opacity 0.2s ease-in-out; }
  .publish-main-cont .pop-mask-enter,
  .publish-main-cont .pop-mask-leave {
    opacity: 0; }
  .publish-main-cont .loading {
    width: 100%;
    padding: 10px 0;
    text-align: center;
    height: 400px;
    line-height: 380px; }
    .publish-main-cont .loading img {
      width: 24px;
      margin-right: 20px;
      vertical-align: middle; }
  .publish-main-cont .publish-step1 .table tr.checked {
    background-color: #f3f9ff; }
  .publish-main-cont .publish-step1 .big-rang {
    box-sizing: content-box;
    padding: 25px;
    cursor: pointer; }
  .publish-main-cont .publish-step1 .wm-detailes {
    margin-bottom: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee; }
    .publish-main-cont .publish-step1 .wm-detailes .wm-img {
      float: left;
      width: 300px;
      height: 300px;
      background-color: #f5f5f5;
      margin-right: 20px; }
      .publish-main-cont .publish-step1 .wm-detailes .wm-img img {
        max-width: 100%;
        max-height: 100%; }
    .publish-main-cont .publish-step1 .wm-detailes .wm-options {
      float: left; }
      .publish-main-cont .publish-step1 .wm-detailes .wm-options > li {
        margin-bottom: 16px; }
        .publish-main-cont .publish-step1 .wm-detailes .wm-options > li .opt-title {
          width: 120px;
          text-align: right;
          color: #999; }
          .publish-main-cont .publish-step1 .wm-detailes .wm-options > li .opt-title.top {
            vertical-align: top; }
        .publish-main-cont .publish-step1 .wm-detailes .wm-options > li .activity-intro {
          display: inline-block;
          width: 500px; }
      .publish-main-cont .publish-step1 .wm-detailes .wm-options .tags {
        display: inline-block;
        font-size: 0; }
        .publish-main-cont .publish-step1 .wm-detailes .wm-options .tags li {
          display: inline-block;
          font-size: 14px;
          border-radius: 3px;
          background-color: #f5f5f5;
          color: #666;
          padding: 6px 10px;
          cursor: pointer;
          margin-right: 6px; }
          .publish-main-cont .publish-step1 .wm-detailes .wm-options .tags li:hover, .publish-main-cont .publish-step1 .wm-detailes .wm-options .tags li.active {
            background-color: #0096ff;
            color: #fff; }
  .publish-main-cont .publish-step1 .items-wrap {
    margin-bottom: 20px; }
  .publish-main-cont .publish-step2 .showcase {
    float: left;
    width: 300px;
    margin-right: 40px; }
    .publish-main-cont .publish-step2 .showcase .current-item {
      position: relative;
      width: 300px;
      height: 300px;
      background-repeat: no-repeat;
      margin-bottom: 12px;
      overflow: hidden; }
      .publish-main-cont .publish-step2 .showcase .current-item .wm-img {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: move; }
      .publish-main-cont .publish-step2 .showcase .current-item .moving {
        border: 1px dashed #ddd; }
    .publish-main-cont .publish-step2 .showcase .btn-group {
      text-align: center; }
  .publish-main-cont .publish-step2 .items-wrap {
    float: left;
    width: 628px; }
    .publish-main-cont .publish-step2 .items-wrap .item-list {
      height: 260px; }
      .publish-main-cont .publish-step2 .items-wrap .item-list li {
        float: left;
        width: 114px;
        height: 114px;
        padding: 5px;
        border: 2px solid transparent;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        cursor: pointer;
        margin: 0 5px;
        margin-bottom: 12px;
        opacity: .5;
        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        -ms-transition: all .3s; }
        .publish-main-cont .publish-step2 .items-wrap .item-list li:hover {
          border-color: #eee;
          opacity: 1;
          transition: all .3s;
          -webkit-transition: all .3s;
          -moz-transition: all .3s;
          -ms-transition: all .3s; }
        .publish-main-cont .publish-step2 .items-wrap .item-list li.active, .publish-main-cont .publish-step2 .items-wrap .item-list li.active:hover {
          border-color: #22a4ff;
          opacity: 1; }
        .publish-main-cont .publish-step2 .items-wrap .item-list li img {
          position: absolute;
          width: 100%;
          height: 100%; }
        .publish-main-cont .publish-step2 .items-wrap .item-list li .wm-img-cont {
          width: 100%;
          height: 100%;
          position: relative;
          overflow: hidden; }
  .publish-main-cont .title {
    font-size: 16px;
    margin-bottom: 20px; }
    .publish-main-cont .title .text-tips {
      font-size: 14px; }
  .publish-main-cont .publish-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f9f9f9;
    border: 1px solid #ddd; }
    .publish-main-cont .publish-bar .checkAll {
      margin: 12px 0 0 12px;
      background-color: #fff; }
      .publish-main-cont .publish-bar .checkAll.btn-primary {
        background-color: #22a4ff; }
    .publish-main-cont .publish-bar .prev-step {
      float: left;
      padding: 0 20px;
      min-width: 150px;
      height: 58px;
      line-height: 58px;
      font-size: 16px;
      color: #666;
      text-align: center;
      background-color: #fff;
      border-right: 1px solid #ddd;
      transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s; }
      .publish-main-cont .publish-bar .prev-step:hover {
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        color: #22a4ff; }
    .publish-main-cont .publish-bar .next-step {
      float: right;
      padding: 0 20px;
      min-width: 150px;
      height: 58px;
      line-height: 58px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      background-color: #22a4ff;
      transition: all 0.3s;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s; }
      .publish-main-cont .publish-bar .next-step:hover {
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        background-color: #0096ff; }

.filter-bar {
  padding: 12px;
  margin-bottom: 16px;
  background-color: #f9f9f9; }
  .filter-bar .discount-input {
    margin: 0 4px; }
  .filter-bar .dropdown-menu {
    max-height: 400px;
    overflow: auto; }

.search {
  display: inline-block;
  vertical-align: middle; }
  .search .search-text {
    float: left;
    border-right: 0;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s; }
    .search .search-text.active {
      width: 350px;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s; }
  .search .search-btn {
    float: left;
    vertical-align: top;
    border-radius: 0; }

.pagination {
  user-select: none; }
  .pagination.center {
    text-align: center; }
  .pagination .pages {
    display: inline-block;
    vertical-align: top; }
    .pagination .pages li {
      height: 24px;
      width: 24px;
      line-height: 24px;
      padding: 0;
      text-align: center; }
  .pagination .prev-page,
  .pagination .next-page {
    display: inline-block;
    padding: 1px 7px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 3px;
    vertical-align: top; }
    .pagination .prev-page:hover,
    .pagination .next-page:hover {
      cursor: pointer;
      background-color: #f5f5f5; }
    .pagination .prev-page.disable,
    .pagination .next-page.disable {
      opacity: 0.5;
      cursor: not-allowed; }
      .pagination .prev-page.disable:hover,
      .pagination .next-page.disable:hover {
        background-color: #fff; }
